# ------------------------------------------------------------------------------
# get.py 実行用の最小構成依存パッケージ
# ------------------------------------------------------------------------------

# HTTPリクエスト処理のデファクトスタンダード
aiohttp
aiofiles
PyYAML

# ------------------------------------------------------------------------------
# 開発環境用依存パッケージ（静的型チェックなどを行う場合に使用）
# ------------------------------------------------------------------------------
# MypyやPyrightで厳格に型ヒントを解析する際に必要となる型スタブ
types-requests>=2.31.0